    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Список дошкільних закладів</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th class="th1">Картинка</th>
                                    <th class="th2">Назва</th>
                                    <th class="th3">Адреса</th>
                                    <th class="th4">Рейтинг</th>
                                </tr>
                                <tr>
                                    <td style="width: 20%;"><img class="mini-photo" src="https://gs-img.112.ua/original/2016/12/29/277135.jpg" /></td>
                                    <td>Дошкільний навчальний заклад №100500</td>
                                    <td>м. Київ, вул. Академіка Янгеля 20</td>
                                    <td><span class="label label-success">7.1/10</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>