@model IStudyKindergardens.Models.Group

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Редагування типа групи</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="form-group has-feedback col-md-12">
                            @using (Html.BeginForm("EditGroup", "Admin", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="form-group has-feedback col-md-12">
                                        @Html.LabelFor(m => m.Value, "Тип групи")
                                        @Html.TextBoxFor(m => m.Value, new { @class = "form-control", @placeholder = "Введіть тип групи..." })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Редагувати">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</section>