@model IStudyKindergartens.Models.Kindergartens.EditShortInfoViewModel

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Редагування адреси закладу</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        @using (Html.BeginForm("EditShortInfo", "Kindergarten", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(m => m.ShortInfo, "Коротка інформація (максимум 350 символів):")
                                @Html.TextAreaFor(m => m.ShortInfo, new { @class = "form-control", @placeholder = "Адреса для пошуку в google maps" })
                            </div>
                            <input type="submit" class="btn btn-primary btn-block btn-flat" value="Редагувати">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>