@model IEnumerable<IStudyKindergartens.Models.Kindergarten>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Список дошкільних закладів</h3>
				</div><!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tbody>
							<tr>
								<th>Назва закладу</th>
								<th>Адреса</th>
								<th>Емейл</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							@foreach (var item in Model)
							{
								<tr>
									<td>@item.Name</td>
									<td>@item.Address</td>
									<td>@item.ApplicationUser.Email</td>
									<td><a href="/Kindergarten/@item.Id"><span class="glyphicon glyphicon-asterisk"></span></a></td>
									<td><a href="/Kindergarten/Edit/@item.Id"><span class="glyphicon glyphicon-edit"></span></a></td>
									<td><a href="/Admin/DeleteKindergarten/@item.Id"><span class="glyphicon glyphicon-remove"></span></a></td>
								</tr>
							}
						</tbody>
					</table>
					<div style="padding: 5px;">
						@Html.ActionLink("Додати нову сторінку дошкільного закладу", "AddKindergarten", "Admin")
					</div>
				</div><!-- /.box-body -->
			</div>
		</div>
	</div>
</section>