@using Microsoft.AspNet.Identity
@using IStudyKindergartens.Repositories
@{
    IApplicationManager applicationManager = new ApplicationManager();
    string adminId = applicationManager.GetAdminId();
}
@if (Request.IsAuthenticated)
{
    <li>
        <a href="/WriteTo/@adminId"><span class="glyphicon glyphicon-pencil"></span> Написати адміністратору</a>
    </li>
    <li>
        <a href="/Account/Logout"><span class="glyphicon glyphicon-log-out"></span> Вихід</a>
    </li>

}
else
{
    <li>
        <a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Вхід</a>
    </li>
    <li>
        <a href="/Account/Register"><span class="glyphicon glyphicon-pencil"></span> Реєстрація</a>
    </li>
}
