@model IEnumerable<IStudyKindergartens.Models.Kindergartens.KindergartenListItemViewModel>
@{
    ViewBag.Title = "Головна сторінка";
}
<style>
    .main-img {
        width: 90%;
        display: block;
        margin: -35px auto;
    }
</style>

<section class="content">
    <img class="main-img" src="~/Images/Default/main.png"/>
</section>